<div class="container">
  <p>You currently have {{ favoritesIds.length }} favorites</p>
  <app-welcome-message [name]="person[0].name"></app-welcome-message>
  <div class="row w-100 justify-content-center align-items-center ms-4 container">
   
      <h2>Favorites</h2> <p>Number of Favorites : {{ favorites.length }}</p>
      <app-people-list (personClicked)="favoriteHandler($event)" [people]="favorites"></app-people-list> <br>
<h2>Friends</h2> <p>Number of nonFavorites : {{ nonFavorites.length }}</p>
<app-people-list (personClicked)="favoriteHandler($event)" [people]="nonFavorites"></app-people-list>
  </div>
