<div (click)="isClicked()" class="card text-center" style="cursor: pointer;">
    <div class="card-header add-favorite">
      <img [src]="person.imageUrl" class="img-fluid img-thumbnail rounded-circle" />

    </div>
    <div class="card-body" style="background-color:beige">
      <div class="card-text p-1 m-1 display-inline-flex">
        <h2>Name </h2> <p>{{ person.name }}</p> <br>
        <h3>Occupation </h3> <p>{{ person.ocuupation }}</p> <br>
        <div class="display-inline-flex">
          <p class="mx-2" *ngFor="let interst of person.interests">{{ interst }}</p>
        </div>
      </div>

    </div>
    <div class="card-footer bg-secondary">
    </div>

  </div>
